.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  margin: 0 0 32px;
  padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .cover__title {
    font-size: 45px;
    line-height: 47px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 230px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}
