.place {
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
  overflow: hidden;
}

.place:last-of-type {
  margin: 0 0 92px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    margin: 0 0 72px;
    gap: 48px 28px;
  }

  .place:last-of-type {
    margin: 0 0 88px;
  }
}



@media screen and (max-width: 750px) {
  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
    margin: 0 0 48px;
  }
  .place:last-of-type {
    margin: 0 0 64px;
  }
}
